

/* Material Icon
   ========================================================================== */

	$material-icon-size: 18px;
	$material-icon-size-2: $material-icon-size + 6px;
	$material-icon-size-3: $material-icon-size + 18px;
	$material-icon-size-4: $material-icon-size + 30px;


/* Side Nav
   ========================================================================== */

   $side-nav-width: 300px;

 